@import "variables.css";

html,
body {
    height: 100%;
    margin: 0;
    background-image: url(/static/img/bg.webp);
}

.location-form {
    display: flex;
    gap: 1rem;
    height: 90vh;
}

.location-form__form-section,
.location-form__map-section,
.stats-card,
.stats-card__content,
.location-form__form-section form,
.form__group--expand {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.location-form__map-section {
    flex-basis: 40%;
}

.stats-card__title {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-blue-border);
}

.form__input-text {
    flex: 1;
    min-height: 8rem;
}

.location-form__coordinates {
    display: flex;
    gap: 1rem;
}

.location-form__details {
    display: flex;
    gap: 1rem;
    justify-content: stretch;
    width: 100%;
}

.location-form__details .form__group {
    flex: 1;
}

.select {
    position: relative;
}

.select .arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    transition: transform 0.25s ease, color 0.25s ease;
}

.select select:focus + .arrow {
    transform: translateY(-50%) rotate(180deg);
    color: #007bff;
}

.form__actions {
    margin-bottom: 1rem;
}

.location-form__map {
    flex: 1;
    min-height: 0;
}

@media (max-width: 768px) {
    .location-form__coordinates {
        flex-direction: column;
        gap: 0;
    }

    #address,
    #latitude,
    #longitude {
        padding: 0.3rem 0.75rem;
    }
}

@media (max-width: 425px) {
    .stats-card__title {
        font-size: 0.8rem;
    }

    .location-form {
        flex-direction: column-reverse;
        height: 100vh;
    }

    .location-form__map-section {
        flex: 0 0 40%;
    }

    .location-form__coordinates {
        flex-direction: row;
        justify-content: space-between;
        gap: 0.9rem;
    }

    .location-form__form-section {
        flex: 1;
    }

    .stats-card__title {
        margin-bottom: 0.5rem;
    }

    .form__label {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }

    .form__input-text {
        min-height: 4rem;
    }

    .form__input,
    .form__select {
        font-size: 0.8rem;
        color: var(--font-color) !important;
    }

    .form__actions {
        display: flex;
        flex-direction: row;
    }

    #address,
    #latitude,
    #longitude {
        padding: 0.5rem 0.75rem;
    }
}

@media (max-width: 375px) {
    .button--success,
    .button--secondary {
        min-width: 0;
    }
}

@media (max-width: 320px) {
    .stats-card:first-child {
        flex-direction: column;
        gap: 0;
    }

    .stats-card__title {
        width: 100%;
    }

    .stats-card__content {
        min-width: 100%;
    }
}
