{% extends "base.html" %}

{% block title %}Вхід - Хортицький район{% endblock %}

{% block content %}
<div class="form form--login">
    <h1 class="page-header__title">Вхід в систему</h1>
    <form method="POST">
        <div class="form__group">
            <label for="username" class="form__label">Ім'я користувача</label>
            <input type="text" class="form__input" id="username" name="username" required>
        </div>
        <div class="form__group">
            <label for="password" class="form__label">Пароль</label>
            <input type="password" class="form__input" id="password" name="password" required>
        </div>
        <div class="form__actions">
            <button type="submit" class="button button--primary">Увійти</button>
        </div>
    </form>
</div>
{% endblock %}